.menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-box {
  position: absolute;
  z-index: 99;
  display: none;
  top: 109px;
  left: 0;
}

.menu-box.active {
  width: 100vw;
  display: block;
  animation: slide-left 0.3s ease-out;
  -webkit-animation: slide-left 0.3s ease-out;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
}

.menu-list h1,
.menu-list h2,
.menu-list h4,
.menu-list h5,
.menu-list h6 {
  text-align: center;
  padding: 20px 0;
  font-size: 22px;
  border-bottom: 0.5px solid #e2e2e2;
}

.menu-list ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  margin-bottom: 0;
}

.menu-list li {
  border-bottom: 0.5px solid #e2e2e2;
  padding: 12px;
}

.menu-list a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  line-height: 22px;
}
