.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact > h3 {
  letter-spacing: 1.82px;
  font-size: 22px;
  margin-top: 20px;
}

.contact-us,
.contact-social-network {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 128px;
  padding: 0px 64px 16px 64px;
}

.contact-us-phone-number {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Courier;
  font-weight: lighter;
}

.contact-social-network-icon-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.contact-social-network-icon-box > svg {
  margin: 0 6px;
}

.contact-text {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    background-color: #fbfbfb;
  }

  .contact > div {
    border-bottom: 0.6px solid #e1e1e1;
  }
}
