.banner-carousel {
  position: relative;
  height: calc(100vh - 109px);
  max-height: calc(100vh - 109px);
}

.banner-carousel .aws-sld__bullets {
  bottom: 5vh;
  z-index: 2;
}

.banner-carousel .aws-sld__bullets .aws-sld__bullets--active {
  background: white;
  border: none;
}

.banner-carousel .aws-sld__bullets button {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid white;
}

.banner-carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-carousel-item > img {
  object-fit: cover;
  width: 100vw;
  max-width: 100vw;
  height: auto;
}

.banner-carousel-item .shopnow-button {
  position: absolute;
  bottom: 12vh;
}
