.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.6px solid #e1e1e1;
  border-top: 0.6px solid #e1e1e1;
  padding: 20px 0;
}

.newsletter > h1 {
  font-size: 22px;
}

.newsletter > input {
  margin-top: 16px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  letter-spacing: 1.36px;
  width: 380px;
  text-align: center;
}

.newsletter > button {
  margin-top: 8px;
  background: black;
  color: rgb(201, 201, 201);
  letter-spacing: 1.36px;
  padding: 5px 18px;
}

@media screen and (max-width: 568px) {
  .newsletter {
    background-color: #fbfbfb;
  }

  .newsletter > input {
    width: 300px;
    background: #fbfbfb;
  }
}
