@import url("font.scss");

body {
  margin: 0;
  font-family: "Brandon Grotesque Regular";
  font-style: normal;
  font-weight: 400;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 30;
}

$desktopSize: 1920px;
$desktopSmallSize: 1200px;
$tabletHorizontal: 1024px;
$tabletVertical: 768px;
$cellphone: 568px;
$cellphoneSmall: 320px;

$color: (
  text: "#333",
  background: "#fff",
  link: "#1eaaf1",
  linkHover: "#0d8ecf",
  border: "#ddd",
  warning: "#fff3cd",
  success: "#d4edda"
);
