.header-box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 108px;
  border-bottom: 1px solid #707070;
  z-index: 90;
}

.nav-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  align-items: center;
  padding: 20px 15px 15px 15px;
  height: 100%;
}

.nav-box > img {
  width: 150px;
  height: 35px;
}

.nav-menu-desktop ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.nav-menu-desktop li {
  text-align: center;
  padding: 0 12px;
}

.nav-menu-desktop a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
}

.nav-menu-desktop a:hover {
  background-color: #ddd;
  color: black;
}

.nav-menu-desktop a.active {
  background-color: dodgerblue;
  color: white;
}

.nav-menu-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
}

.nav-search {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-right: 12px;
  width: 100%;
}

.nav-search input {
  border: none;
  outline: none;
  border-bottom: 1px solid;
  width: 100%;
  padding: 0 10px 2px 0;
  text-align: left;
  opacity: 0.6;
  font-size: 15px;
}

.nav-search svg {
  position: absolute;
  margin-left: auto;
  font-size: 16px;
  right: 0;
  top: 12px;
  background: white;
}

.nav-wishlist {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

span.nav-cart-count,
span.nav-wishlist-count {
  background: black;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 1.4em;
  text-align: center;
  font-size: 12px;
  width: 1.4em;
}

.nav-wishlist span {
  margin-left: -2px;
}

.nav-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-cart span {
  margin-left: -4px;
}

@media screen and (max-width: 1024px) {
  .nav-menu-desktop a {
    font-size: 13.5px;
    line-height: 18px;
  }

  .nav-menu-right {
    width: 20%;
  }
  .nav-menu-right:last-child {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .top-contact-header {
    background-color: black;
    color: white;
  }

  .nav-box img {
    margin: 0 auto;
  }

  .mobile-menu-wishlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0 24px 12px;
  }
}

@media screen and (max-width: 568px) {
}

@media screen and (max-width: 320px) {
  .nav-search {
    margin-left: 12px;
  }

  .nav-cart {
    margin-left: 6px;
  }
}
