.footer {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  position: relative;
}

.footer-content {
  padding: 32px 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-content h4 {
  font-size: 18px;
  height: 50px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: -10px 0 0 0;
}

.footer li {
  padding-top: 8px;
}

.footer-about-us,
.footer-help,
.footer-authenticity,
.footer-buy-now,
.footer-payment {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.footer-copyright {
  position: absolute;
  bottom: 15%;
  right: 8%;
}

@media screen and (max-width: 768px) {
  .footer {
    position: static;
  }

  .footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .footer-content h4 {
    height: 30px;
    margin-top: 20px;
  }

  .footer-content-links,
  .footer-content-extra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }

  .footer-content-links {
    border-bottom: 0.6px solid #e1e1e1;
  }

  .footer-payment {
    text-align: center;
  }

  .footer-copyright {
    position: static;
    bottom: 0;
    right: 0;
    text-align: center;
    opacity: 0.5;
    margin: 40px 0;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    font-size: 16px;
  }

  .footer-content-extra h4 {
    height: 40px;
    margin-top: 24px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    font-size: 14px;
  }
}
